@import '_inputString.scss';
@import '_inputRadio.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .col-centered{
    float: none;
    margin: 0 auto;
  }

  .card{
    padding: 20px 15px;
    background-color: #F5F5F5;

    h2{
      padding-bottom: 10px;
    }
  }

  .alert-info{
    &.hide{
      display: none;
    }
  }

  .btn-register{
    background-color: #81629D;
    color: white;
    font-weight: 600;
    width: 100%;
    float: right;
    margin-top: 20px;
  }

  .login-button-area{
    margin-top: 30px;

    &.hide{
      display: none;
    }

    .btn{
      margin-top: 0;
    }
  }

  .after-login{
    .btn{
      width: 80px;
      margin-bottom: 10px;
      padding: 2px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}